.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: bisque;
}

.App-link {
  color: #61dafb;
}
.Container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #282c34;
}
.container-todo {
  padding-top: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  border-bottom: 1px solid gray;
  padding-bottom: 1.2rem;
}

.llista {
  width: 85%;
  list-style: none;
}
.llista li {
  padding: 1rem;
}

li {
  color: bisque;
  cursor: pointer;
}

li:hover {
  color: rgb(245, 168, 73);
  font-size: 1rem;
}
li.completed {
  text-decoration: line-through;
}
input {
  width: 100%;
  padding: 0.5rem;
  margin: 8px 0;
  font-size: 1.3rem;
  border: none;
  outline: none;
}
.editar-button {
  width: 15%;
  height: 2rem;
  background-color: brown;
  font-size: 0.9rem;
  color: bisque;
  border: none;
  border-radius: 3rem;
}
.editar-button:hover {
  background-color: rgb(243, 160, 160);
  color: black;
}

.borrar-todo {
  width: 15%;
  height: 2rem;
  background-color: brown;
  font-size: 0.9rem;
  color: bisque;
  border: none;
  border-radius: 3rem;
  margin-left: 100px;
}

.borrar-todo:hover {
  background-color: rgb(243, 160, 160);
  color: black;
}

.label-styles {
  color: bisque;
  padding: 0.8rem;
}
.llistaTodos {
  background-color: brown;
  margin-top: 3rem;
  display: flex;
  justify-content: space-around;
  width: 85%;
}

.form-style {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
  font-size: 1.2rem;
}
.text-form {
  font-size: 1rem;
  padding-right: 0.5rem;
  color: whitesmoke;
}

#submit-boto {
  margin-top: 2rem;
  width: 100%;
  height: 2.5rem;
  background-color: brown;
  font-size: 1.5rem;
  color: bisque;
  border: none;
  border-radius: 3rem;
}
#submit-boto:hover {
  background-color: rgb(243, 160, 160);
  color: black;
}
.boto-refresh {
  margin-top: 2rem;
  width: 20%;
  height: 2.5rem;
  background-color: brown;
  font-size: 1.5rem;
  color: bisque;
  border: none;
  border-radius: 3rem;
}
.boto-refresh:hover {
  background-color: rgb(243, 160, 160);
  color: black;
}

/* Estils finestra modal */

.Modal {
  display: flex;
  margin: 0 auto;
  margin-top: 10%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #282c34;
  color: bisque;
  width: 45%;
  height: 45%;
}

.Modal button {
  width: 15%;
  height: 2rem;
  background-color: brown;
  font-size: 0.9rem;
  color: bisque;
  border: none;
  border-radius: 3rem;
  margin: 1rem;
}
.Modal .modificar {
  height: 2rem;
  color: bisque;
  font-size: 0.8rem;
  border: none;
  background-color: brown;
  border-radius: 3rem;
}
